// *{
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

html {
    font-size: 16px;
}

body {
    background-color: #bdc3c7;
}

:root {
    --outer-padding: 1rem;
    --light-outer-color: #bdc3c7;
    --dark-outer-color: #444747;
}

body {
    margin: 0;
}

time {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 0.8125rem;
    font-weight: 200;
    line-height: 1.61538462;
}

*.theme {
    transition: background-color 0.5s linear;
}

.app__outer {
    // margin: var(--outer-margin);
    padding: var(--outer-padding);
    height: calc(100vh - 2 * var(--outer-padding));
    background-color: var(--light-outer-color)
}

.app__outer.dark,
body.dark {
    background-color: var(--dark-outer-color);
}